{% extends "main/base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="deps/css/my_footer_css.css">
{% endblock %}

{% block content %}
    <h1 class="mt-5 pt-5 fw-bold text-secondary"><strong>Online store - LuxeStore</strong></h1>
{% endblock %}


{% block foooter %}
    <footer class="py-4 bg-secondary">
        <div class="container">
            <p class="m-0 text-center text-white ">Copyright &copy; LuxeStore Python 2024</p>
        </div>
    </footer>
{% endblock %}